<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="frag(title,links,scripts)">

    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}">Common title</title>

    <link rel="stylesheet" type="text/css" th:href="@{'/css/lang.css'}"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <th:block th:each="link : ${links}" th:if="${links != null}">
        <link rel="stylesheet" type="text/css"
              th:href="@{${link}}"
              th:if="${link != null}"/>
    </th:block>

    <script th:src="@{'/js/jquery-3.2.1.js'}"></script>

    <th:block th:each="script : ${scripts}" th:if="${scripts != null}">
        <script th:src="@{${script}}" th:if="${script != null}"></script>
    </th:block>



</head>
</html>