<component name="ArtifactManager">
  <artifact type="war" name="SpringTwoWebSite:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringTwoWebSite.war">
      <element id="artifact" artifact-name="SpringTwoWebSite:war exploded" />
    </root>
  </artifact>
</component>